<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Pikachu Puzzle</title>
		<link rel="stylesheet" href="css/main.css">
	</head>
	<body>
		<div id="wrapper" @drop="drop($event)" @dragover.prevent>
			<div id="puzzle">
				<div class="container">
					<template v-for="value in 9">
						<div 
						class="block"
						:data-num="value"
						@dragenter.prevent="dragenter($event)"
						@dragleave.prevent="dragleave($event)"
						>
						</div>
					</template>
				</div>
				<template v-for="value in 9">
					<image 
					draggable="true"
					:class="moveCss(value)"
					:data-num="value"
					:src="imgsrc(value)"  
					:style="outward(value)"
					@dragstart="dragstart($event)"
					@dragend="dragend()"
					></image>
				</template>
			</div>
			<div class="showWin onWork">你贏惹</div>
		</div>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.8/vue.js'></script>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
